.container-reg {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  padding: 40px;
}
.container-form {
  display: flex;
  justify-content: center;
}
.all-patients, .patient-doctor {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  padding: 40px;
}

.tables {
    display: flex;
    flex-direction: column;
    align-items: center;
}
